/*Style for the entire page */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* Search */
#search {
    width: 200px;
    margin-bottom: 20px;
}

/* Products */
#product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    align-items: start;
}

/* Product card */
.card {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    aspect-ratio: 1 / 1;
    text-align: center;
}

/* Button */
button {
   padding: 8px 10px;
   color: white;
   background-color: rgb(86, 84, 84);
   border: none;
   cursor: pointer;
}

button:hover {
    background-color: green;
}

/* Cart */
#cart-container {
    border-top: 1px solid black;
}